django==5.0.6
django-extensions
pillow
django-admin-interface
django-crispy-forms
crispy-bootstrap5
django-rest-framework

# Instalar en terminal: 
# pip install -r requirements.txt 

# Instalar Explorer de SQLITE en buscador de VisualStudioCode // >SQLite: Open Database
# db.sqlite3 (Buscar mi proyecto)