
{% extends 'Plantilla_base.html' %}

{% load static %}

{% block title %}Ingreso al sistema{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus credenciales</h2>
                        <hr>
                        <form action="" method="post" >

                            {% csrf_token %}
                            {{ form }}

                            <a href="{% url 'index' %}"></a>
                            <input type="submit" value="ingresar " class="btn btn-success float-right" >
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
