{% extends 'Plantilla_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Agregar Producto{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="formulario-producto">
                    <form method="post">
                        {% csrf_token %}
                        <!-- Uso de crispy para renderizar el formulario -->
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" onclick="cancelar()">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
