{% extends 'Plantilla_base.html' %}

{% load static %}

{% block title %}AVentaSillonesFull{% endblock %}

{% block content %}
    <!--Navegado por pagina -->
    <nav aria-label="Page navigation example" class="custom-pagination">
      <h5>Navegador por productos</h5>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{% url 'AVentaEquiposRX'%}">1</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'AVentaSillas'%}">2</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'AVentaSillonesFull'%}">3</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'AVentaSillonesViejos'%}">4</a></li>
      </ul>
    </nav>

    <!--Regresar a BAR PARA TODAS LAS VISTAS-->
    <nav style="margin-top: 20px; margin-left: 20px; font-family: Arial, sans-serif; --bs-breadcrumb-divider: '';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="" style="color: black;"><strong</strong></a></li>
        <li class="breadcrumb-item active" aria-current="page" style="color: rgba(74, 73, 73, 0.738);"><strong>Sillon Nuevo</strong></li>
      </ol>
    </nav>  
    
    <!-- Contenido principal -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6">
          <!-- Aquí va la imagen del producto -->
          <img src="{% static 'imagenes/gds600-sxp2.jpg'%}" class="img-fluid" alt="Producto">
        </div>
        <div class="col-md-6">
          <!-- Aquí va la descripción del producto y botones para agregar al carro -->
          <h2><STRong>Sillón Dental Glandet GD-S600 HYDRAULIC (LEVANTA HASTA 1000 KLG.) SOFTLEATHER</STRong></h2><BR></BR>
          <H>DESCRIPCION DEL PRODUCTO:</p><BR></BR>
          <P>CONFIGURACION SILLONES GLADENT	GD-S600 Hidraulico</p>
            <P> Conexion para 2 piezas de alta velocidad:	SI</p>
            <P>Conexión para 1 pieza de baja velocidad: 	SI</p>
            <P>Jeringa de 3 vias 2 unidades:	            SI</p>
            <P>Salivera rotable 90°:	                    SI</p>
            <P>Sistema de control Principal:	            SI</p>
            <P>Sistema de control Asistente:	            SI</p>
            <P>Sistema de agua Caliente:	                SI</p>
            <P>Control de pie de Multifuncion:	          SI</p>
            <P>Hemoaspirador:	                            SI</p>
            <P>Aspirador normal:                          SI</p>
            <P>Sistema de agua purificada:	              SI</p>
            <P>Sistema de desinfeccion:	                  SI</p>
            <P>Braquet con freno de aire:	                SI</p>
            <P>Auto llenado de vaso y lavado escupidera:	SI</p>
            <P>Mangueras de aire y agua USA:	            SI</p>
            <P>Tapizado en Microfifra de Cuero:	          SI</p>
            <P>Cabezal de Aluminio:	                      SI</p>
            <P>Panel Control  LCD:	                      SI</p>
            <P>Doble apoya brazos:	                      SI</p>
            <P>Visor Led de rx:	                          SI</p>
            <P>Gladent lampara tricolor GD18:	            SI</p>
            <P>Programa de 9 memorias:	                  SI</p>
            <P>Valvula solenoide normal:	                SI</p>
            <P>Silla dentista de Lujo:	                  SI</p>
            <P>Sistema Hidráulico importado:	            SI</p>
            <P>Comienzo lento y desaceleración:	          SI</P>
            <p class="precio">Precio: $6.190.000</p>
            <!-- Elemento para mostrar el valor del dólar -->
            <p id="valor-dolar">El valor actual del dólar se mostrará aquí.</p>
            
          </div>
        </div>
      </div>
      
      <!-- FUNCION para obtener el valor del dólar -->
      <script>
        async function obtenerValorDolar() {
            try {
                const url = 'https://open.er-api.com/v6/latest/USD?apikey';
                const respuesta = await fetch(url);
                const datos = await respuesta.json();
      
                if (datos && datos.rates) {
                    const valorDolar = datos.rates.USD.toFixed(2);
                    const valorPesosChilenos = datos.rates.CLP.toFixed(2);
      
                    // Capturar el precio en pesos chilenos desde el párrafo
                    const precioParrafo = document.querySelector('p.precio').textContent;
                    const precioPesosChilenos = parseFloat(precioParrafo.replace(/[^\d.-]/g, ''));
      
                    // Calcular el precio en dólares
                    const precioDolares = precioPesosChilenos / valorPesosChilenos;
      
                    // Construir el mensaje con el valor del dólar
                    const mensaje = 'El valor en dólares es de: ' + (6190000 / valorPesosChilenos).toFixed(2)+ ' (valor dólar para uso referencial, compra se realiza en moneda nacional)';
      
                    // Mostrar el mensaje en el elemento con ID "valor-dolar"
                    document.getElementById("valor-dolar").innerText = mensaje;
                } else {
                    document.getElementById("valor-dolar").innerText = 'No se pudo obtener el valor actual del dólar en pesos chilenos.';
                }
            } catch (error) {
                document.getElementById("valor-dolar").innerText = 'Error al obtener el valor del dólar en pesos chilenos.';
            }
        }
        // Llamar a la función para obtener el valor del dólar
        obtenerValorDolar();
      </script>

      <!-- Incluye el script de Bootstrap JS al final del cuerpo -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="{% static 'js/Reloj.js' %}"></script> 
      <script src="{% static 'js/Registro.js' %}"></script> 
{% endblock %}

 
