{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página principal</title>

  <!-- Enlace al archivo CSS de Bootstrap -->
  <!--EN CADA PÁGINA DONDE VA UN BOOTSTRAP VA EL LINK CORRESPONDIENTE -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>  
  <!-- la clase nav es la barra superior  -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="navbar-logo" src="{% static 'imagenes/Imagen LOgo copia.jpg' %}" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Principal</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'AVentaEquiposRX' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'insumos' %}">Equipos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'especialidades' %}">Especialidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contactanos' %}">Contáctanos</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <!--FINAL DE LA NAV BAR PARA TODAS LAS VISTAS-->
  
  <!--Regresar a BAR PARA TODAS LAS VISTAS-->
  <nav style="margin-top: 20px; margin-left: 20px; font-family: Arial, sans-serif; --bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'insumos' %}" style="color: black;"><strong>Materiales</strong></a></li>
      <li class="breadcrumb-item active" aria-current="page" style="color: rgba(74, 73, 73, 0.738);">Implantes</li>
    </ol>
  </nav>        

  <!-- Contenido principal -->
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6">
        <!-- Imagen del producto -->
        <img src="{% static 'imagenes/materiales-clinica/Tornillo_dental.png' %}" class="img-fluid" alt="Producto">
      </div>
      <div class="col-md-6">
        <!-- Descripción del producto y boton para agregar al carro -->
        <h2><STRong>Flat Seat Screw para MUA</STRong></h2><BR></BR>
        <H>DESCRIPCION DEL PRODUCTO:</p><BR></BR>
        <p>El campo de la implantología dental avanza continuamente con la introducción de técnicas innovadoras, diseñadas para mejorar las restauraciones
             protésicas y, en consecuencia, aumentar la calidad de vida de los pacientes. <br>Recientemente, en el ámbito de las restauraciones protésicas
              está surgiendo una tendencia que implica técnicas directas sobre Multi-unit. <br>Este desarrollo está impulsando a los profesionales dentales a
               fabricar prótesis sin Ti-Base en casos Multi-unit, marcando un cambio significativo en las prácticas tradicionales.</p>
            
        <p> Tipo de tornillo: Standar    </p>
        <p> Head Screw: Screw Hex. 1,20mm</p>
        <p> Pack: Pack de 10 un. </p>
        <br>


        

        <p class="precio">Precio: $189.200    </p>
        <!-- Elemento para mostrar el valor del dólar -->
        <p id="valor-dolar">El valor actual del dólar se mostrará aquí.</p>
        <button class="btn btn-primary">Agregar al carrito</button><br>

        </div>
      </div>
    </div>
    
    <!-- FUNCION para obtener el valor del dólar -->
    <script>
      async function obtenerValorDolar() {
          try {
              const url = 'https://open.er-api.com/v6/latest/USD?apikey';
              const respuesta = await fetch(url);
              const datos = await respuesta.json();
    
              if (datos && datos.rates) {
                  const valorDolar = datos.rates.USD.toFixed(2);
                  const valorPesosChilenos = datos.rates.CLP.toFixed(2);
    
                  // Capturar el precio en pesos chilenos desde el párrafo
                  const precioParrafo = document.querySelector('p.precio').textContent;
                  const precioPesosChilenos = parseFloat(precioParrafo.replace(/[^\d.-]/g, ''));
    
                  // Calcular el precio en dólares
                  const precioDolares = precioPesosChilenos / valorPesosChilenos;
    
                  // Construir el mensaje con el valor del dólar
                  const mensaje = 'El valor en dólares es de: ' + (189200 / valorPesosChilenos).toFixed(2);
    
                  // Mostrar el mensaje en el elemento con ID "valor-dolar"
                  document.getElementById("valor-dolar").innerText = mensaje;
              } else {
                  document.getElementById("valor-dolar").innerText = 'No se pudo obtener el valor actual del dólar en pesos chilenos.';
              }
          } catch (error) {
              document.getElementById("valor-dolar").innerText = 'Error al obtener el valor del dólar en pesos chilenos.';
          }
      }
      // Llamar a la función para obtener el valor del dólar
      obtenerValorDolar();
    </script>
  
  <!-- bloque carrito de compra  -->
  <div class="container-lg">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          carro en mantención
        </div>
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Confirmar
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--bloque modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Usuario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--el siguiente form es para el formulario de correo y contraseña -->
          <form action="https://kgames-serverless-api-delta.vercel.app/api/tester" method="post" class="container">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" required class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" required minlength="6"  name="password" id="pass" class="form-control">
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
              <input type="password" required minlength="6" id="confirmPass" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Iniciar</button>
        </div>
      </div>
    </div>
  </div>

  <!--PARTE DEL MAPA -->
  <div class="cosas-mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13317.557562219345!2d-70.6755018128418!3d-33.43916029999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c59350e45d2f%3A0x85c58d65633fc4fb!2sPro%20Dental%20Santiago!5e0!3m2!1ses!2scl!4v1713580770583!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <!--FIJN DEL MAPA-->

  <!--PIE DE PÁGINA EL TODOS LOS DERECHOS RESERVADOS-->
  <div class="column">
    <div class="widget">
      <p class="texto-copy"> <span>® 2024 Clínica Dental Cepillin. Todos los derechos reservados</span></p>
    </div>
  </div>
  <!--FIN DE TODOS LOS DERECHOS -->

  <!-- Incluye el script de Bootstrap JS al final del cuerpo -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/Reloj.js' %}"></script> 
  <script src="{% static 'js/Registro.js' %}"></script>  
</body>
</html>
