{% load static %}
<!DOCTYPE html>
<html lang="e">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .navbar-brand .navbar-logo {
            max-width: 60px; /* ajusta el ancho máximo de la imagen */
            height: 60px; /* mantiene la proporción de aspecto */
        }
    </style>
</head>
<body>
  <!-- NavBarr para Logo / Buscar / Iniciar sesión / Carrito  -->
    <!-- Navbar superior -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="navbar-logo" src="{% static 'imagenes/Imagen LOgo copia.jpg' %}" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavTop" aria-controls="navbarNavTop" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavTop">
                <form class="d-flex flex-grow-1" role="search">
                    <input class="form-control me-2 flex-grow-1" type="search" placeholder="Productos, marcas y más..." aria-label="Search">
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Iniciar sesión <br>Mi cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">Carro</a>

                    </li>
                </ul>   
            </div>
        </div>
    </nav>
    <!-- Navbar inferior para Principal/ Productos / Equipos / Especialidades / Nosotros / Contáctanos -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavBottom" aria-controls="navbarNavBottom" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavBottom">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'AVentaEquiposRX' %}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'insumos' %}">Equipos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'especialidades' %}">Especialidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contactanos' %}">Contáctanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <!--FINAL DE LA NAV BAR PARA TODAS LAS VISTAS--> 

        <!-- Bloque modal para inicio de sesión -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresar a mi cuenta <br>Ingrese su email y contraseña:</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario de inicio de sesión -->
                        <form action="https://kgames-serverless-api-delta.vercel.app/api/tester" method="post" class="container">
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo Electrónico</label>
                                <input type="email" required class="form-control" id="email" placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" required minlength="6" name="password" id="pass" class="form-control">
                            </div>
                            <div class="mb-3 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rememberCheck">
                                    <label class="form-check-label" for="rememberCheck">Recordarme</label>
                                </div>
                                <a href="#" class="forgot-password">¿Olvidó su contraseña?</a>
                            </div>
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                            </div>
                            <p class="new-account-message text-center">¿Cliente nuevo? <a href="#" class="create-account-link" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signUpModal">Crear cuenta</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bloque modal para crear cuenta -->
        <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="signUpModalLabel">Crear cuenta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario de registro -->
                        <form action="URL_de_registro" method="post" class="container">
                            <div class="mb-3">
                                <label for="signup-email" class="form-label">Correo Electrónico</label>
                                <input type="email" required class="form-control" id="signup-email" placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="signup-password" class="form-label">Contraseña</label>
                                <input type="password" required minlength="6" name="signup-password" id="signup-pass" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                                <input type="password" required minlength="6" id="confirmPass" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Crear cuenta e Ingresar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- Off-canvas para el carrito de compras -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasExampleLabel">Carrito de Compras</h4>        
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="cart-container">
                <div class="cart-preview">
                    <div class="cart-content">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="cart-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path>
                        </svg>
                        <p class="cart-text">Su carro está vacío</p>
                        <a href="/productos" class="cart-button">Ver todos los productos</a>
                    </div>
                </div>
            </div>
            <ul id="cart-items"></ul>
            <p id="cart-total">Total: $0</p>
            <button class="btn btn-primary" onclick="simularPago()">Pagar Total</button>
        </div>
    </div>

    <!--Bloque formulario contacto-->
    <div class="card">
        <div class="card-header">Envíanos tu consulta</div>
        <div class="card-body">
            <!-- Le damos la clase row, para que sea un contenedor -->
            <form action="https://kgames-serverless-api-delta.vercel.app/api/tester" method="post" class="container" onsubmit="return validateForm()">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" required class="form-control" id="email" placeholder="name@example.com">
                    <div class="invalid-feedback" id="emailError">Por favor, introduce un correo electrónico válido.</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="edad">Edad</label>
                    <input class="form-control" type="number" name="edad" id="edad" value="18" min="17" max="999">
                    <div class="invalid-feedback" id="edadError">Por favor, introduce una edad válida (mayor de 17 años).</div>
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="tel" name="telefono" id="telefono" class="form-control" oninput="validatePhone()">
                    <div class="invalid-feedback" id="phoneError">Por favor, introduce un número de teléfono válido.</div>
                </div>

                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha de nacimiento</label>
                    <input type="date" required name="fecha" id="fecha" class="form-control">
                    <div class="invalid-feedback" id="fechaError">Por favor, selecciona una fecha de nacimiento válida.</div>
                </div>

                <div class="mb-3">
                    <label for="FORMULARIO">Tipo de consulta</label>
                    <select class="form-select" id="FORMULARIO" name="FORMULARIO" aria-label="BOX FORMULARIO">
                        <option selected value="0">Solicitud de cita</option>
                        <option value="1">Solicitud de información sobre servicios</option>
                        <option value="2">Consulta sobre tratamientos específicos</option>
                        <option value="3">Solicitud de presupuesto</option>
                        <option value="3">Realizar una consulta</option>
                    </select>
                    <div class="invalid-feedback" id="formularioError">Por favor, selecciona un tipo de consulta.</div>
                </div>

                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje, cuentanos que necesitas...</label>
                    <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                    <div class="invalid-feedback" id="mensajeError">Por favor, introduce un mensaje.</div>
                </div>
                <div class="d-flex justify-content-between">

                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <input type="checkbox" class="form-check-input me-2" id="termsCheck" onclick="toggleSubmitButton()">
                        <label class="form-check-label" for="termsCheck">Debe aceptar términos y condiciones antes de enviar el formulario.</label>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button type="reset" class="btn btn-secondary me-2">Limpiar Formulario</button>
                    <button id="submitBtn" class="btn btn-primary" type="submit" disabled>Enviar formulario</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light py-3 mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2023 Mi Sitio Web. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="#" class="text-light me-3">Aviso de Privacidad</a>
                    <a href="#" class="text-light">Términos de Uso</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Enlaces a archivos JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBogGzE/rz0XB5uH2C1f4F1MNaA9G/JISW3Ad8CZOAJPXk+l" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-QF3odrX4gkPB4LA8RSvzXyZHA7K8/Ku6MRd3cfcIT72YTGyw5A1C2t6/5VV6NtWQ" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        function toggleSubmitButton() {
            var submitBtn = document.getElementById('submitBtn');
            submitBtn.disabled = !submitBtn.disabled;
        }

        function validatePhone() {
            var phoneInput = document.getElementById('telefono');
            var phoneError = document.getElementById('phoneError');
            var phoneRegex = /^[0-9]{10}$/; // Expresión regular para un número de teléfono de 10 dígitos

            if (!phoneRegex.test(phoneInput.value)) {
                phoneError.style.display = 'block';
            } else {
                phoneError.style.display = 'none';
            }
        }

        function validateForm() {
            var emailInput = document.getElementById('email');
            var edadInput = document.getElementById('edad');
            var fechaInput = document.getElementById('fecha');
            var mensajeInput = document.getElementById('mensaje');
            var emailError = document.getElementById('emailError');
            var edadError = document.getElementById('edadError');
            var fechaError = document.getElementById('fechaError');
            var mensajeError = document.getElementById('mensajeError');
            var isValid = true;

            // Validar el correo electrónico
            if (!emailInput.checkValidity()) {
                emailError.style.display = 'block';
                isValid = false;
            } else {
                emailError.style.display = 'none';
            }

            // Validar la edad
            if (edadInput.value <= 17) {
                edadError.style.display = 'block';
                isValid = false;
            } else {
                edadError.style.display = 'none';
            }

            // Validar la fecha de nacimiento
            if (!fechaInput.value) {
                fechaError.style.display = 'block';
                isValid = false;
            } else {
                fechaError.style.display = 'none';
            }

            // Validar el mensaje
            if (!mensajeInput.value.trim()) {
                mensajeError.style.display = 'block';
                isValid = false;
            } else {
                mensajeError.style.display = 'none';
            }

            return isValid;
        }
    </script>
</body>
</html>
