{% extends 'Plantilla_base.html' %}

{% load static %}

{% block title %}Despacho{% endblock %}

{% block content %}
    <div class="container mt-5">
        <strong><h1>Despacho Gratis en Santiago</h1></strong>
        
        <p>En Cepillin.cl nos preocupamos constantemente de ofrecer los precios más convenientes y es por ello que ofrecemos despacho gratuito 
            de 2 a 4 días hábiles a la mayoría de las comunas de Santiago sin monto mínimo de compra. Si, leíste bien, despacho gratis sin mínimo 
            de compra.</p>
        <p>Entendemos que puede ser desanimante ver que la comuna a la que necesitas despachar tiene un costo asociado. Es por esto que estamos 
            continuamente en busca de nuevos convenios con couriers para poder eventualmente expandir nuestra cobertura de despacho gratuito y 
            también poder ofrecer el precio de despacho más conveniente a todas las otras comunas de nuestro alargado y logísticamente 
            complejo país.</p>
        
        <h3>¿Cómo aplicar a despacho gratis?</h3>
        <p>Lo único que debes hacer es seleccionar como comuna de despacho una comuna que esté dentro de las que tienen cobertura gratuita.</p>
        
        <h3>¿Qué comunas tienen despacho gratis?</h3>
        <p>Aquí las listamos en orden alfabético:</p>
        <ul>
            <li>Cerrillos</li>
            <li>Cerro Navia</li>
            <li>Estación Central</li>
            <li>Huechuraba</li>
            <li>Independencia</li>
            <li>La Florida</li>
            <li>La Reina</li>
            <li>Las Condes</li>
            <li>Lo Barnechea</li>
            <li>Lo Prado</li>
            <li>Macul</li>
            <li>Maipú</li>
            <li>Ñuñoa</li>
            <li>Pedro Aguirre Cerda</li>
            <li>Peñalolén</li>
            <li>Providencia</li>
            <li>Puente Alto</li>
            <li>Pudahuel</li>
            <li>Quilicura</li>
            <li>Quinta Normal</li>
            <li>Recoleta</li>
            <li>Renca</li>
            <li>San Bernardo</li>
            <li>San Joaquín</li>
            <li>San Miguel</li>
            <li>Santiago Centro</li>
            <li>Vitacura</li>
        </ul>
        
        <p>¿Ha quedado contestada tu pregunta?</p>
    </div>
{% endblock %}
