{% extends 'Plantilla_base.html' %}

{% load static %}

{% block title %}especialidades{% endblock %}

{% block content %}
  <div class="h2">
    <img src="{% static 'imagenes/banner1.jpg' %}" alt="imagen banner" width="100%" height="350px" />
  </div>

  <h2 class="nuestras-especialidades">Nuestras especialidades</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="{% static 'imagenes/1.png' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Endodoncia: eliminar pulpa infectada de diente y sellar conducto radicular.
            </p>
            <a href="https://wa.me/+56938733233" class="btn btn-primary">¡Agenda tu hora aquí!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{% static 'imagenes/4.png' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Odontopediatría: atención dental para niños y adolescentes.
            </p>
            <a href="https://wa.me/+56938733233" class="btn btn-primary">¡Agenda tu hora aquí!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{% static 'imagenes/7.png' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Ortodoncia: tratamiento de irregularidades dentales y faciales con brackets o alineadores.
            </p>
            <a href="https://wa.me/+56938733233" class="btn btn-primary">¡Agenda tu hora aquí!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{% static 'imagenes/10.png' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Periodoncia: tratamiento de enfermedades de las encías y estructuras de soporte de los dientes.
            </p>
            <a href="https://wa.me/+56938733233" class="btn btn-primary">¡Agenda tu hora aquí!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="{% static 'imagenes/2.png' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Restauración oral: procedimientos como implantes, prótesis y tratamientos estéticos.
            </p>
            <a href="https://wa.me/+56938733233" class="btn btn-primary">¡Agenda tu hora aquí!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{% static 'imagenes/5.png' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Cirugía maxilofacial: diagnóstico y tratamiento de enfermedades, lesiones y defectos de la cabeza, cuello y cara.
            </p>
            <a href="https://wa.me/+56938733233" class="btn btn-primary">¡Agenda tu hora aquí!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{% static 'imagenes/8.png' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Implantología: diseño, colocación y mantenimiento de implantes dentales.
            </p>
            <a href="https://wa.me/+56938733233" class="btn btn-primary">¡Agenda tu hora aquí!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{% static 'imagenes/11.png' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Salud oral: medidas y prácticas para evitar enfermedades dentales y mantener una buena higiene bucal.
            </p>
            <a href="https://wa.me/+56938733233" class="btn btn-primary">¡Agenda tu hora aquí!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


