{% extends 'Plantilla_base.html' %}

{% load static %}

{% block title %}index{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
      <!-- carrusel -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href=" {% url 'AVentaSillonesFull' %} ">
              <img src="{% static 'imagenes/sillon2000.webp' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h2><strong>PRODUCTOS</strong></h2>
                <p>Revisa nuestros equipos</p>
              </div>
            </a>    
          </div>
          <div class="carousel-item">
            <a href="{% url 'insumos'%}">
              <img src="{% static 'imagenes/Materiales_2.jpg' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h2><strong>COMPRAR</strong></h2>
                <p>Materiales de calidad y reconocidos a nivel mundial.</p>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="{% url 'especialidades'%}">
              <img src="{% static 'imagenes/Microcirugia-plastica-periodontal-estetica-1.webp' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h2><strong>Nuestras Especialidades</strong></h2>
                <p>Todas las especialidades para tus Tratamientos con tecnología de punta.</p>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="{% url 'despacho'%}">
              <img src="{% static 'imagenes/Banner_despacho_domicilio 1024 x 380.jpg' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h2><strong>Despacho Domicilio</strong></h2>
                <p></p>
              </div>
            </a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Reloj en tiempo real -->
      <div id="reloj">
        <div class="reloj">
            <p class="fecha"></p>
            <p class="tiempo"></p>
        </div>
      </div>

      <!-- CARD NOSOTROS EL PORQUÉ ELEGIRNOS -->
      <div class="recuadro">
        <img src="{% static 'imagenes/Imagen LOgo copia.jpg' %}" alt="Imagen en el recuadro">
        
        <h2>BIENVENIDO A NUESTRA CLINICA!</h2>
        <p>Contamos con todas las especialidades y especialistas, devolveremos tu sonrisa.</p>
        <a href="#" class="btn btn-primary">Conoce nuestros casos</a>
      </div>

      <!-- Incluye el script de Bootstrap JS al final del cuerpo -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="{% static 'js/Registro.js' %}"></script>
      <script src="{% static 'js/Reloj.js' %}"></script>
{% endblock %}

