{% extends 'Plantilla_base.html' %}

{% load static %}

{% block title %}login{% endblock %}

{% block content %}
    <div class="login-container">
        <h1>Entrar</h1>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endif %}

        <form method="POST" class="login-form">
            {% csrf_token %}
            <input type="email" class="form-control login-input" name="usuario" id="usuario" placeholder="Usuario" required>
            <input type="password" class="form-control login-input" name="password" id="password" placeholder="Contraseña" required>
            <br>
            <input type="submit" class="btn btn-primary login-button" value="Entrar">
        </form>
    </div>
{% endblock %}



