{% extends 'Plantilla_base.html' %}

{% load static %}

{% block title %}nosotros{% endblock %}

{% block content %}
  <!-- Imagen decorativa--> 
  <div class="imagen-container">
    <img src="{% static 'imagenes/Tratamiento-dental.png' %}" alt="Imagen presentacion" class="imagen-presentacion">
  </div>

  <!-- Encabezado -->
  <div class="somos">
    <br>
    <h2 class="titulo">Quienes somos </h2>
   </div>    
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Card 1 -->
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'imagenes/Nos_jose2.png' %}" class="card-img-top" alt="Jose">
            <div class="card-body">
              <h5 class="card-title">Jose Calderon</h5>
              <p class="card-text">Soy estudiante de programación.</p>
              <a href="{% url 'index' %}" class="btn btn-primary">Ir al Inicio...</a>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'imagenes/Nos_Carlos.jpg' %}" class="card-img-top" alt="Carlos">
            <div class="card-body">
              <h5 class="card-title">Carlos Araya</h5>
              <p class="card-text">Soy estudiante de programación.</p>
              <a href="{% url 'index'%}" class="btn btn-primary">Ir al Inicio...</a>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col">
          <div class="card h-100">
            <img src="{%static 'imagenes/Nos_Alan.jpeg' %}" class="card-img-top" alt="Alan ">
            <div class="card-body">
              <h5 class="card-title">Alan Barrera</h5>
              <p class="card-text">Soy estudiante de programación.</p>
              <a href="{% url 'index'%}" class="btn btn-primary">Ir al Inicio...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Cómo puedo agendar una hora?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Para agendar una hora en nuestra clínica dental, puedes llamar directamente a nuestro número de contacto o utilizar nuestro sistema de reserva en línea en nuestro sitio web. También puedes visitarnos en persona para programar tu cita.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Cuáles son las políticas de devolución de servicios?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Nuestra clínica tiene una política de devolución flexible. Si no estás satisfecho con nuestros servicios, contáctanos dentro de los primeros 30 días para discutir las opciones de devolución o reembolso disponibles para tu tratamiento dental.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Ofrecen descuentos para personas de tercera edad?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Sí, ofrecemos descuentos especiales para nuestros pacientes de tercera edad. Por favor, consulta con nuestro personal administrativo para conocer los detalles específicos y cómo puedes aplicar para estos descuentos.
          </div>
        </div>
      </div>
    </div>
{% endblock %}