<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Contenido principal -->
  <div class="container-lg">
    <!-- Aquí va el contenido de la página principal -->
    <div class="contenedor-principal">
      <div class="contenedor-productos">
        <!-- PRODUCTOS QUE SE VEN EN MI PAGINA -->
      </div>
      <div class="contenedor-carrito">
        <h2>Carrito de Compras</h2>
        <ul id="lista-carrito"></ul>
        <p id="total">Total: $0</p>
        <button class="boton-pagar" onclick="simularPago()">Pagar Total</button>
      </div>
    </div>
  </div>

  <script src="{% static 'js/Registro.js' %}"></script>  
</body>
</html>