{% extends 'Plantilla_base.html' %}

{% load static %}

{% block title %}AVentaEquiposRX{% endblock %}

{% block content %}
      <!--Navegado por pagina -->
  <nav aria-label="Page navigation example" class="custom-pagination">
    <h5>Navegador por productos</h5>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="{% url 'AVentaEquiposRX'%}">1</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'AVentaSillas'%}">2</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'AVentaSillonesFull'%}">3</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'AVentaSillonesViejos'%}">4</a></li>
    </ul>
  </nav>

  <!--Regresar a BAR PARA TODAS LAS VISTAS-->
  <nav style="margin-top: 20px; margin-left: 20px; font-family: Arial, sans-serif; --bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="" style="color: black;"><strong></strong></a></li>
      <li class="breadcrumb-item active" aria-current="page" style="color: rgba(74, 73, 73, 0.738);"><strong>Equipos RX</strong></li>
    </ol>
  </nav>
  
  <!-- Contenido principal -->
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6">
        <!-- Aquí va la imagen del producto -->
        <img src="{% static 'imagenes/Venta rx1.jpg' %}" class="img-fluid" alt="Producto">
        
      </div>
      <div class="col-md-6">
        <!-- Aquí va la descripción del producto y botones para agregar al carro -->
        <h2><STRong>Pro Vecta HD Equipo RX Intraoral Airtechniques</STRong></h2><BR></BR>
        <H>DESCRIPCION DEL PRODUCTO:</p><BR></BR>
        <p>Con la precisión de un generador DC con un punto focal de 0,4 mm, este sistema de radiografías intraorales es el compañero perfecto 
            para cualquier escáner ScanX PSP.El tubo DC reduce la radiación al paciente en más de un 25% en comparación con las unidades AC 
            convencionales; así se asegura mayor protección para el paciente y el profesional. Es fácil de usar e incluye un cabezal de tubo de 
            ángulo derecho y un panel de control con iconos intuitivo. Además cuenta con niveles mA y kV ajustables</p>    
        <br>
        <p>PERFECTO EN FUNCIÓN Y DISEÑO <br>
            <br>

            El mango del cabezal del generador permite un procesamiento preciso y no se mueve
            Elija entre las longitudes de brazos corta (66 pulg.), media (72 pulg.) y larga (84 pulgadas)
            La tecnología de ángulo derecho/paralela permite una alineación precisa
            Niveles mA y kV ajustables
            Colimador de campo de radiación rectangular opcional
            La tecnología DC permite niveles constantes de radiación para asegurar una calidad de imagen fiable
            Dosis programada de fábrica específica para cada vista cuando se usen las placas de fósforo flexibles ScanX® (PSP)
        
        </p><br>
        <p class="precio">Precio: $4.499.990    </p>
        <!-- Elemento para mostrar el valor del dólar -->
        <p id="valor-dolar">El valor actual del dólar se mostrará aquí.</p>       
        </div>
      </div>
    </div>
    
    <!-- FUNCION para obtener el valor del dólar -->
    <script>
      async function obtenerValorDolar() {
          try {
              const url = 'https://open.er-api.com/v6/latest/USD?apikey';
              const respuesta = await fetch(url);
              const datos = await respuesta.json();
    
              if (datos && datos.rates) {
                  const valorDolar = datos.rates.USD.toFixed(2);
                  const valorPesosChilenos = datos.rates.CLP.toFixed(2);
    
                  // Capturar el precio en pesos chilenos desde el párrafo
                  const precioParrafo = document.querySelector('p.precio').textContent;
                  const precioPesosChilenos = parseFloat(precioParrafo.replace(/[^\d.-]/g, ''));
    
                  // Calcular el precio en dólares
                  const precioDolares = precioPesosChilenos / valorPesosChilenos;
    
                  // Construir el mensaje con el valor del dólar
                  const mensaje = 'El valor en dólares es de: ' + (4499990 / valorPesosChilenos).toFixed(2)+ ' (valor dólar para uso referencial, compra se realiza en moneda nacional)';
    
                  // Mostrar el mensaje en el elemento con ID "valor-dolar"
                  document.getElementById("valor-dolar").innerText = mensaje;
              } else {
                  document.getElementById("valor-dolar").innerText = 'No se pudo obtener el valor actual del dólar en pesos chilenos.';
              }
          } catch (error) {
              document.getElementById("valor-dolar").innerText = 'Error al obtener el valor del dólar en pesos chilenos.';
          }
      }
      // Llamar a la función para obtener el valor del dólar
      obtenerValorDolar();
    </script>

 
    <!--FIN DE TODOS LOS DERECHOS -->
    <!-- Incluye el script de Bootstrap JS al final del cuerpo -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="{% static 'js/Reloj.js' %}"></script> 
    <script src="{% static 'js/Registro.js' %}"></script>
{% endblock %}





